.rodapie__titulo{
    display: flex;
    color: #8c8888;
    font-weight: 400;
    align-items: center;
    padding: 1.5625rem;
}

@media(min-width:0){
    .rodapie__titulo{
        font-size:1rem;
        padding-top: 0;
        padding-bottom: .5rem;
        
    }
}

@media(min-width:768px){
    .rodapie__titulo{
        font-size: 1.25rem;
    }
}