.persona__imagen{
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.persona__imagen--roberta{
    background-image: url(../../img/personas/roberta.jpg);
}

.persona__imagen--marcela{
    background-image: url(../../img/personas/marcela.jpg);

}

.persona__imagen--andrea{
    background-image: url(../../img/personas/andrea.jpg);

}

@media(min-width:0) {
    .persona__imagen{
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 768px) {
    .persona__imagen{
        height:170px;
        width:170px;
    }
}


@media (min-width: 992px) {
    .persona__imagen{
        height:300px;
        width:300px;
    }
}

